{% extends 'base.html.twig' %}

{% block title %}Rejoins la commu!{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal">Rejoins-nous vite!</h1>
        {{ form_start(userForm) }}
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                {{ form_row(userForm.username) }}
                {{ form_row(userForm.email) }}
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                {{ form_row(userForm.password) }}
                <span>Le mot de passe doit faire au moins 8 caratères</span>
            </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">
            Créer le compte
        </button>
        {{ form_end(userForm) }}
    <span><a href="{{ path('app_login') }}">Déjà un compte?</a></span>
    </div>
{% endblock %}