{% extends 'base.html.twig' %}

{% block body %}
    <div id="header" class="text-center">
        <h1>Snowtricks</h1>
        <h2>Pour les passionnés de snowboard, un réseau social collaboratif pour faire connaître ce sport auprès du grand public et aider à l'apprentissage des figures</h2>
        <a class="nav-link js-scrollTo" href="#Tricks"><i class="fas fa-arrow-to-bottom"></i></a>
    </div>
    <section id="tricks" class="text-center">
        <p>Chargement des tricks <div class="loader"></div></p>
    </section>
    {#  % for trick in tricks %}
        <div>
            {{ trick.name }} |
            <a href="{{ path('app_trick_show', {id : trick.id}) }}" >Aller au trick</a> |
            {{ trick.tag.name  }}
        </div>
    {% endfor %}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick_homepage') }}
{% endblock %}