{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block body %}
    {% if trick.isOnline == false  %}
        <div class="text-center"><p class="text-danger">Ce trick n'est <strong>pas encore en ligne</strong>!
                Pour l'instant seulement toi peux le voir, dépêches-toi de le <strong>partager</strong></p>
        </div>
    {% endif %}
    <h1>Modifer {{ trick.name }}</h1>

    <hr>
        <h2>@TODO : Partie gestion images / vidéos liés</h2>
    <hr>

    <fieldset>
        {{ form_start(trickForm) }}
        <div class="form-group">
            {{ form_errors(trickForm) }}
        </div>

        <div class="form-group">
            {{ form_row(trickForm.name) }}
        </div>

        <div class="form-group">
            {{ form_row(trickForm.content) }}
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(trickForm.tag) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(trickForm.isOnline, {label_attr: {class: 'switch-custom'} }) }}
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
        {{ form_end(trickForm) }}
    </fieldset>
    <hr>
    <div class="text-center">
    {% if trick.comments.count  %}
        <div id="comment-list">
            <div class="loader"></div>
        </div>
        <a class="btn btn-primary" id="load_more_button">Charger plus</a>
    {% else %}
        <h4>Il n'y a malheureusement pas encore de commentaire  (ಥ﹏ಥ)</h4>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.tiny.cloud/1/z80yiesiw6qlrl3y4gzy6j3zqw7ujm1dt0d5e7bjnujmen16/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            language: 'fr_FR',
            plugins: 'advlist autolink lists link charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
{% endblock %}