{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block body %}
<div>
    <h1>{{ trick.name }}</h1>
    {% for video in trick.videos %}
        <div>
            {{ video.id }} | {{ video.url }}
        </div>
    {% endfor %}
    <hr>
    {% for picture in trick.pictures %}
        <div>
            {{ picture.id }} | {{ picture.path }}
        </div>
    {% endfor %}
    <hr>
    <p>catégorie {{ trick.tag.name }} |dernière MàJ{{ trick.updatedAt |date("m/d/Y")  }} | {{ trick.content }}</p>
</div>

<h3>Espace commentaire</h3>
{% if app.user %}
     <h4>Laisser un commentaire</h4>
{% else %}
    <div class="text-center">
        <p>Tu dois être connecté(e) pour laisser un commentaire</p>
        <a class="btn btn-lg btn-primary" href="{{ path('app_login') }}">Se connecter</a>
        <a class="btn btn-lg btn-primary" href="{{ path('app_register') }}">Créer un compte</a>
    </div>
{% endif %}
    {#<hr>
    {% for comment in trick.comments %}
        <div>
            {{ comment.user.picturePath }} |
            {{ comment.user.username }} |
            {{ comment.createdAt |date("m/d/Y") }} |
            {{ comment.content }}
            <hr>
        </div>
    {% endfor %}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}