{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block body %}
<div>
    <h1 id="comment" data-comment-id="{{ trick.id }}">{{ trick.name }}</h1>
    {% for video in trick.videos %}
        <div>
            {{ video.id }} | {{ video.url }}
        </div>
    {% endfor %}
    <hr>
    {% for picture in trick.pictures %}
        <div>
            {{ picture.id }} | {{ picture.path }}
        </div>
    {% endfor %}
    <hr>
    <p>catégorie {{ trick.tag.name }} |dernière MàJ{{ trick.updatedAt |date("m/d/Y")  }} | {{ trick.content }}</p>
</div>

<h3>Espace commentaire</h3>
{% if app.user %}
    {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Laisser un commentaire
    </button>
    {{ form_end(commentForm) }}
{% else %}
    <div class="text-center">
        <p>Tu dois être connecté(e) pour laisser un commentaire</p>
        <a class="btn btn-lg btn-primary" href="{{ path('app_login') }}">Se connecter</a>
        <a class="btn btn-lg btn-primary" href="{{ path('app_register') }}">Créer un compte</a>
    </div>
{% endif %}
<hr>
{% if trick.comments.count  %}
    <div id="comment-list">
        <h4><div class="loader"></div></h4>
    </div>
{% else %}
    <h4>Soit le/la premier/ère à laisser un message</h4>
    <span>Ce trick se sens seul sans commentaire (ಥ﹏ಥ)</span>
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}