{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block body %}
<div>
    {% if app.user.id == trick.user.id %}
        <a href="{{ path('app_trick_modify', {id : trick.id}) }}" >Modifier mon trick</a>
    {% endif %}
    <h1 id="comment" data-comment-id="{{ trick.id }}">{{ trick.name }}</h1>
    {% for video in trick.videos %}
        <div>
            {{ video.id }} | {{ video.url }}
        </div>
    {% endfor %}
    <hr>
    {% for picture in trick.pictures %}
        <div>
            {{ picture.id }} | {{ picture.path }}
        </div>
    {% endfor %}
    <hr>
    <p>créé par {{ trick.user.username }} | catégorie {{ trick.tag.name }} | dernière MàJ {{ trick.updatedAt |date("m/d/Y")  }} | {{ trick.content }}</p>
</div>

<h3>Espace commentaire</h3>
<div class="text-center">
{% if app.user %}
    {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
    <button class="btn btn-primary" type="submit">Laisser un commentaire</button>
    {{ form_end(commentForm) }}
{% else %}
    <div class="text-center">
        <p>Tu dois être connecté(e) pour laisser un commentaire</p>
        <a class="btn btn-lg btn-primary" href="{{ path('app_login') }}">Se connecter</a>
        <a class="btn btn-lg btn-primary" href="{{ path('app_register') }}">Créer un compte</a>
    </div>
{% endif %}
<hr>
{% if trick.comments.count  %}
        <div id="comment-list">
            <div class="loader"></div>
        </div>
        <a class="btn btn-primary" id="load_more_button">Charger plus</a>
{% else %}
    <h4>Soit le/la premier/ère à laisser un message</h4>
    <span>Ce trick se sens seul sans commentaire (ಥ﹏ಥ)</span>
{% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick_show') }}
{% endblock %}