{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block body %}
<div>
    {% if trick.isOnline == false  %}
        <div class="text-center"><p class="text-danger">Ce trick n'est <strong>pas encore en ligne</strong>!
                Pour l'instant il n'y a que toi qui peut le voir, dépêches-toi de le <strong>partager</strong></p>
        </div>
    {% endif %}
    {% if app.user %}
        {% if app.user.id == trick.user.id %}
            <a href="{{ path('app_trick_modify', {slug : trick.slug}) }}" >Modifier mon trick</a>
        {% endif %}
    {% endif %}
    <div class="text-center banner" style="background-image:
        {% if mainPicture|length == 0 %}
            url({{ asset('pictures/tricksPictures/mains/default.jpg') }});">
        {% else %}
            url({{ asset('pictures/tricksPictures/mains/'~mainPicture.0.path~'') }});">
            {% if mainPicture.0.legend|length > 0 %}
                <p class="text-center">Description : {{ mainPicture.0.legend }}</p>
            {% endif %}
        {% endif %}
        <h1><span id="comment" data-comment-id="{{ trick.id }}">{{ trick.name }}</span></h1>
    </div>
</div>

<section>
    {% for picture in linkedPictures %}
        <div>
            {{ picture.id }} | {{ picture.path }}
        </div>
    {% endfor %}
    {% for video in linkedvideos %}
        <div>
            {{ video.id }} | {{ video.url }}
        </div>
    {% endfor %}
</section>

<section>
    <div class="text-right">
        <span class="badge badge-pill badge-primary">catégorie {{ trick.tag.name }}</span>
        <span class="badge badge-pill badge-primary">créé le {{ trick.createdAt |date("m/d/Y")  }}</span>
    </div>
    <div class="jumbotron text-left">
        <i class="fas fa-quote-left"></i>
        <p>{{ trick.content | raw }}</p>
    </div>
    <div class="text-left">
        {% if trick.user.picturePath != '' %}
            <img src="{{ asset('pictures/profilPictures/'~app.user.picturePath~'') }}" width="30" height="30" class="rounded-circle">
        {% endif %}
        <span class="badge badge-pill badge-primary">par {{ trick.user.username }}</span>
        <span class="badge badge-pill badge-primary">dernière MàJ {{ trick.updatedAt |date("m/d/Y")  }}</span>
    </div>
</section>

<hr>
<section class="text-center">
    <h3>Espace commentaire</h3>
    {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        <button class="btn btn-primary" type="submit">Laisser un commentaire</button>
        {{ form_end(commentForm) }}
    {% else %}
        <div class="text-center">
            <p>Tu dois être connecté(e) pour laisser un commentaire</p>
            <a class="btn btn-lg btn-primary" href="{{ path('app_login') }}">Se connecter</a>
            <a class="btn btn-lg btn-primary" href="{{ path('app_register') }}">Créer un compte</a>
        </div>
    {% endif %}
    <br>
    <div id="comment-list">
        <div class="loader"></div>
    </div>
    <a class="btn btn-primary" id="load_more_button">Charger plus</a>
</section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick_show') }}
{% endblock %}