{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block body %}
<div>
    {% if trick.isOnline == false  %}
        <div class="text-center"><p class="text-danger">Ce trick n'est <strong>pas encore en ligne</strong>!
                Pour l'instant il n'y a que toi qui peut le voir, dépêches-toi de le <strong>partager</strong></p>
        </div>
    {% endif %}
    <div class="text-center banner shadow-lg p-3 mb-5 bg-white rounded" style="background-image:
        {% if mainPicture|length == 0 %}
            url({{ asset('pictures/tricksPictures/mains/default.jpg') }});">
        {% else %}
            url({{ asset('pictures/tricksPictures/mains/'~mainPicture.0.path~'') }});">
        {% endif %}
        {% if app.user %}
            <div class="crud-buttons">
                <span class="badge badge-pill badge-light">
                    <a href="{{ path('app_trick_modify', {slug : trick.slug}) }}"><i class="fas fa-pen"></i></a>
                    <span class="text-success">|</span>
                    <a href="{{ path('app_trick_delete', {id : trick.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </span>
            </div>
        {% endif %}
        <h1 id="trick-name"><span id="comment" data-comment-id="{{ trick.id }}">{{ trick.name }}</span></h1>
    </div>
</div>

<section id="media" class="media-show text-center">
    {% for picture in linkedPictures %}
        <a href="{{ asset('pictures/tricksPictures/linked/'~picture.path~'') }}" class="html5lightbox shadow-lg bg-white rounded m-3 p-3"
            {% if picture.legend != '' %}
                title="{{ picture.legend }}"
            {% endif %}>
            <div class="col-12 col-md-5 shadow-lg bg-white rounded trick-linked-picture-card"
                style="background-image: url({{ asset('pictures/tricksPictures/linked/'~picture.path~'') }});">
            </div>
        </a>
        {% endfor %}
    {% for video in linkedvideos %}
        <div class="col-12 col-md-4 m-3 p-3 rounded text-center">
            <iframe class="rounded" height="235" src="https://www.youtube.com/embed/{{ video.url }}"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    {% endfor %}
</section>
<div class="text-center mb-5">
    <a class="btn btn-block btn-primary" id="show_media">Afficher média</a>
    <a class="btn btn-block btn-primary" id="hide_media">Cacher média</a>
</div>

<section>
    <div class="text-left shadow-lg p-3 mb-5 bg-white rounded">
        <i class="fas fa-quote-left"></i>
        <p>{{ trick.content | raw }}</p>
    </div>
    <div class="text-center">
        {% if trick.user.picturePath != '' %}
            <img src="{{ asset('pictures/profilPictures/'~trick.user.picturePath~'') }}" width="45" height="45" class="rounded-circle">
        {% endif %}
        <span class="badge badge-pill badge-primary">par {{ trick.user.username }}</span>
        <span class="badge badge-pill badge-primary">catégorie {{ trick.tag.name }}</span>
        <span class="badge badge-pill badge-primary">créé le {{ trick.createdAt |date("m/d/Y")  }}</span>
        {% if trick.createdAt |date("m/d/Y") != trick.updatedAt |date("m/d/Y") %}
            <span class="badge badge-pill badge-primary">dernière MàJ {{ trick.updatedAt |date("m/d/Y")  }}</span>
        {% endif %}
        <span class="badge badge-pill badge-primary">commentaires {{ trick.comments.count }}</span>
    </div>
</section>

<hr>
<section class="text-center">
    <h3>Espace commentaire</h3>
    {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        <button class="btn btn-primary" type="submit">Laisser un commentaire</button>
        {{ form_end(commentForm) }}
    {% else %}
        <div class="text-center">
            <p>Tu dois être connecté(e) pour laisser un commentaire</p>
            <a class="btn btn-lg btn-primary" href="{{ path('app_login') }}">Se connecter</a>
            <a class="btn btn-lg btn-primary" href="{{ path('app_register') }}">Créer un compte</a>
        </div>
    {% endif %}
    <br>
    <div id="comment-list">
        <div class="loader"></div>
    </div>
    <a class="btn btn-primary" id="load_more_button">Charger plus</a>
</section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick_show') }}
    {{ encore_entry_script_tags('trick_show_hide_media') }}
    <script type="text/javascript" src="{{ asset('html5lightbox/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('html5lightbox/html5lightbox.js') }}"></script>
{% endblock %}